div{
    height: 300px;
    width: 300px;
    background-color: blue;
    transition: 7ms ease-in-out;
    
}
img{
    width: 200px;
    height: 200px;
}

div:hover, img:hover{
    transform: scale(.95);

}